################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Doc/mrAImans_contribution.cpp
/.vs
/olcjam24/x64
/x64
/olcjam24.vcxproj.user
/BinBundle
