################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Doc/mrAImans_contribution.cpp
/olcjam24.vcxproj.filters
/olcjam24.vcxproj.user
/olcjam24.vcxproj
